body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75%;
}
a{
    font-style: italic;
    font-weight: bold;
}
ol {
    font-style: italic;
}
ul {
    font-style: italic;
}
.sideright {
    float:right  
}
.sideleft {
    float:inline-start;
}
.sidecenter {
    columns: 100px 2;
}
.img {  
    margin: 15px;
    width: 50cm;
}
span {
    color: blue;
}
.text-box {
    border: 2px solid red;
    padding: 6px;
    margin: 20px;
    background-color: yellow;
}