body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75%;
}
a{
    font-style: italic;
    font-weight: bold;
}
ol {
    font-style: italic;
}
ul {
    font-style: italic;
}
.sidebar {
    float: right;
    
}